
/* Mobile (480px and below) */
@media screen and (max-width: 425px){
    .stores-header, .food-header {
        flex-direction: column; 
        align-items: center; 
        padding: 0.5rem; 
    }

    .stores-header h2, .food-header h2{
        font-size: 1.5rem; 
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .cuisine-nav {
        width: 100%;
        flex-wrap: wrap; 
        gap: 0.5rem; 
        justify-content: space-between; 
    }

    .cuisine-nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: 0.5rem;
    }

    .cuisine-nav ul li {
        flex: 1 1 30%; 
        text-align: center; 
    }
}
@media screen and (max-width: 320px){
    .stores-header, .food-header {
        flex-direction: column; 
        align-items: center; 
        padding: 0.5rem; 
    }

    .stores-header h2, .food-header h2 {
        font-size: 1.5rem; 
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .cuisine-nav {
        width: 100%;
        flex-wrap: wrap; 
        gap: 0.5rem; 
        justify-content: space-between; 
    }

    .cuisine-nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: 0.5rem;
    }

    .cuisine-nav ul li {
        flex: 1 1 30%; 
        text-align: center; 
    }
}